@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Capriola&family=Fascinate&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'cursive', sans-serif;
}

header, footer {
    min-height: 10vw;
    background-color: #2ec4b6;
    text-align: center;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, small {
    padding: 3vw 0;
    font-family: 'cursive', cursive;
    margin: 0;
}

#submit a {
    text-decoration: none;
    color: white;
}

#slogan {
    background-color: #CBF3F0;
}

#nomClient, #nomProduit, #prixProduit, #nomCommande {
    border-radius: 5px;
    border: 2px solid;
}

h3 {
    text-align: center;
}

#slogan h2 {
    font-family: 'Fascinate', cursive;
    text-transform: lowercase;
    padding: 1vw;
    text-align: center;
    margin: 0;
}

#width {
    width: auto;
}

span:after {
    width: 5vw;
    height: 5vw;
    display: inline-block;
    position: fixed;
    background-color: #ffbf69;
    bottom: 5vw;
    right: 5vw;
    border-radius: 50%;
    font-size: 3vw;
    text-align: center;
    line-height: 5vw;
}

select {
    margin: 15px auto;
    padding: 15px;
    background-color: white;
}

#delete:not(.panierSupp) {
    background-color: red !important;
}

h2 {
    margin: 30px;
    text-align: center;
}

#menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    padding: 30px;
    margin: 15px auto;
}

#section {
    flex-basis: 40%;
    padding: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
}

#house {
    width: 3%;
    position: fixed;
    float: left;
    left: 0;
    margin: 50px 15px;
}
#login {
    width: 3%;
    float: right;
    left: 0;
    margin: 50px 15px;
}

.article {
    border: 1px solid #FFBF69;
    padding: 25px;
    margin: 30px auto;
    display: flex;
    width: 44%;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 20vw;
    overflow: hidden;
}

.login {
    color: blue;
}

input:not(input[type="file"], #submit, #delete,#btn) {
    width: 322px;
    padding: 10px;
}

form:not(#formCreate, #formDelete,#form,#formLogin) {
    width: 40%;
    margin: 20px auto;
    font-size: 20px !important;
    display: flex;
}

#formCreate, #formDelete {
    width: 40%;
}
#formLogin{
    margin: 20px auto;
    font-size: 20px;
}

input, button {
    font-size: 17px;
}

form div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
    flex-direction: column;
}

#submit, #delete {
    padding: 20px;
    background-color: green;
    color: white;
    border: none;
    margin: 15px 0 auto;
    width: 100%;
    cursor: pointer;
}

img {
    object-fit: cover;
    width: 100%;
}

small {
    padding-top: 7vw;
    display: block;
    font-size: 1.6vw;
}

.commande{
    width: 20%;
}

#panier{
    width: 3%;
    float: right;
    left: 0;
    margin: 50px 15px;
}

#btn{
    cursor: pointer;
    padding: 0;
}

.panier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper {
    max-width: 1140px;
    align-items: normal;
}

.pdt-list {
    display: block;
    margin: 0 -10px;
    text-align: center;
}

.pdt-content {
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin: 0 -2px;
    padding: 10px;
    box-sizing: border-box;
}

.pdt {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.125);
    position: relative;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 27px 30px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.pdt:hover #btn {
    max-height: 35px;
}

.pdt{
    color: #546a2a;
    font-size: 11px;
    text-transform: uppercase;
}

.pdt .label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #546a2a;
    color: #546a2a;
    border-radius: 2px;
    opacity: 0.5;
}

.pdt-img {
    margin: 20px;
    overflow: hidden;
}

.pdt-img img {
    width: 100%;
    height: auto;
}

.pdt table {
    width: 100%;
    height: 185px;
    margin-top: -5px;
}

.pdt .pdt-title {
    display: block;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.pdt .pdt-sub {
    display: block;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #546a2a;
    text-transform: uppercase;
}

.pdt span {
    display: inline-block;
    vertical-align: middle;
}

.pdt img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
    margin-right: 5px;
}

.pdt .price-box {
    height: 100%;
    vertical-align: middle;
    line-height: 22px;
    font-size: 14px;
}

.pdt .pdt-price {
    color: #546a2a;
    display: block;
    font-size: 18px;
}

.pdt #btn {
    background: #546a2a;
    color: #FFF;
    border-radius: 2px;
    line-height: 35px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
}
.clear{
    clear: both;
}